<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=<?=$this->page_encoding; ?>" />
  <title>
    <?=$this->seoData['title']; ?>
  </title>
  <meta name="keywords" content="<?=$this->seoData['keywords']; ?>" />
  <meta name="description" content="<?=$this->seoData['description']; ?>" />
  <meta name="revisit-after" content="<?=$this->seoData['revisit-after']; ?>" />
  <meta name="author" content="<?=$this->seoData['author']; ?>" />
  <meta name="geo.country" content="<?=$this->seoData['geo.country']; ?>" />
  <meta name="geo.placename" content="<?=$this->seoData['geo.placename']; ?>" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet" />
  <link rel="icon" href="https://automatic-moskva.ru/favicon.svg" type=" image/svg+xml" />
  <link href="/templates/evo/style.css" rel="stylesheet" type="text/css" media="screen" />
  <link href="/templates/evo/media.css" rel="stylesheet" type="text/css" media="screen" />
  <link rel="stylesheet" href="../templates/evo/media.css" />

  <title>Document</title>
</head>

<body>
  <div class="null">
    <!-- <header class="header">
      <div class="container">
        <div class="header-content">
          <div class="header-content-tel"><a href="tel:1231415"><img src="../templates/evo/images/Icon/3325016_phone_icon.svg"
                alt="alt"></a> </div>
          <div class="header-content-picture"><a href=""><img src="../templates/evo/images/Icon/logo-mob-removebg-preview.png"
                alt="alt"></a></div>
          <div class="header-content-list">
            <div href="#" class="burger list">
              <div class="burger-menu bar1"></div>
              <div class="burger-menu bar2"></div>
              <div class="burger-menu bar3"></div>
            </div>
            <ul class="burger-list-menu list-menu">
              <li><a href="index.php?page=index">Главная</a></li>
              <li><a href="index.php?page=kontakt">Ремонт</a></li>
              <li><a href="index.php?page=polomki">Обслуживание</a></li>
              <li><a href="index.php?page=ex">Цены</a></li>
              <li><a href="index.php?page=foto_akpp">Контакты</a></li>
              <!-- <li><a href="index.php?page=motor">Ремонт ДВС</a></li> -->
            <!-- </ul>
          </div>
        </div>
      </div> -->
    <!-- </header> -->

    <main class="main">

      <div class="container">
        <div class="main-content-info">
          <div class="main-content-info-title">Сеть автосервисов по ремонту АКПП, Вариаторов и DSG </div>
          <div class="row">
            <div class="col-xl-5 col-md-12">
              <div class="main-content-info-tel">
                <ul>
                  <li><a href="">+7 (495) 374-88-19 ;</a></li>
                  <li>
                    <a href="">+7 (499) 653-71-88 (круглосуточно) ;</a>
                  </li>
                  <li><a href="">+7 (915) 150-88-41 (МТС) ;</a></li>
                  <li>
                    <a href="">8 (800) 333-71-52 (для звонков из регионов)</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-xl-5 col-md-12">
              <div class="main-content-info-display">
                <a class="whatsapp" href="https://wa.me/79151508841"><img alt="Ремонт вариатора"
                    src="../templates/evo/images/Icon/wh.png" /></a>
                <div class="main-content-info-display-bottom">
                  <a class="viber" href="viber://chat?number=79151508841"><img alt="Ремонт ДСГ"
                      src="../templates/evo/images/Icon/vb.png" /></a>
                  <a class="telegram" href="https://t.me/RemontAKPP"><img alt="Ремонт АКПП"
                      src="../templates/evo/images/Icon/tg.png" /></a>
                  <a class="applechat"
                    href="https://bcrw.apple.com/sms:open?service=iMessage&recipient=urn:biz:5e6cadc4-da68-451c-b6e9-f6eaac913b48"><img
                      alt="Ремонт вариаторов" src="../templates/evo/images/Icon/ime.png" /></a>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-welcome">
        <div class="container">
          <div class="row">
            <div class="col-6 col-md-12 center">
              <div class="main-welcome-leftblock">

                <div class="main-welcome-leftblock-text">В специализированных техцентрах "Автоматик Москва"
                  осуществляется диагностика, ремонт и обслуживание автоматических коробок переключения передач (АКПП),
                  вариаторов (CVT), роботроников (DSG).</div>

              </div>
            </div>
            <div class="col-6 col-md-12">
              <div class="main-welcome-rightblock">
                <img src="../../1.0.jpg" alt="alt">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="container">
          <div class="main-content-header">
            <div class="main-content-header-icons">
              <div class="row">
                <div class="col-4 col-md-12 ">
                  <a href="#">
                    <div class="main-card">

                      <img src="../templates/evo/images/Icon/7853743_gear_kashifarif_setting_configuration_preferences_icon.svg"
                        alt="alt" />


                      <div class="main-content-header-icons-text">
                        Ремонт АКПП, вариаторов, DSG в Москве
                      </div>
                    </div>
                  </a>
                </div>
                <div class="col-4 col-md-12 ">

                  <div class="main-card">

                    <img src="../templates/evo/images/Icon/3586362_checklist_document_list_paper_icon.svg" alt="alt" />
                    <div class="main-content-header-icons-text">
                      <ul>
                        <li> <a href="#adress">Адреса Техцентров</a> </li>
                        <li><a href="#why">Почему мы?</a></li>
                        <li><a href="">Список</a> </li>
                        <li><a href="">Список</a> </li>
                      </ul>
                    </div>
                  </div>

                </div>
                <div class="col-4 col-md-12 ">
                  <a href="#">
                    <div class="main-card">

                      <img src="../templates/evo/images/Icon/352315_car_directions_icon.svg" alt="alt" />
                      <div class="main-content-header-icons-text">
                        Эвакуация на охраняемую, бесплатную парковку Техцентра
                        круглосуточно
                      </div>
                    </div>
                  </a>
                </div>


              </div>

              <!-- <div class="main-content-header-title">Ремонт АКПП, вариаторов, DSG в Москве</div>
                            <div class="main-content-header-subtitle"> (Эвакуация на охраняемую, бесплатную парковку Техцентра круглосуточно.) </div>   -->
            </div>
          </div>

        </div>
      </div>
      <div class="main-media">
        <div class="container">
          <div class="row">
            <div class="col-4 col-sm-6 col-us-12">
              <a href="akpp/automatic-moskva.ru32.jpg"><img class="picture1"
                  src="../templates/evo/images/Icon/automatic-moskva.ru32m.jpg" alt="akpp" /></a>
            </div>
            <div class="col-4 col-sm-6 col-us-12">
              <a href="akpp/automatic-moskva.ru5.jpg"><img class="picture2"
                  src="../templates/evo/images/Icon/automatic-moskva.ru5m.jpg" alt="akpp" /></a>
            </div>
            <div class="col-4 col-sm-6 col-us-12">
              <a href="akpp/automatic-moskva.ru9.jpg"><img class="picture3"
                  src="../templates/evo/images/Icon/automatic-moskva.ru9m.jpg" alt="akpp" /></a>
            </div>
            <div class="col-4 col-sm-6 col-us-12">
              <a href="src=\'https://www.youtube.com/embed/t150KtLAPk0?autoplay=1&rel=0\'"><img class="picture4"
                  src="../templates/evo/images/Icon/1.png" alt="alt" /></a>
            </div>
            <div class="col-4 col-sm-6 col-us-12">
              <a href="src=\'https://www.youtube.com/embed/sWsgJlLUwEo?autoplay=1&rel=0\'"><img class="picture5"
                  src="../templates/evo/images/Icon/2.png" alt="alt" /></a>
            </div>
            <div class="col-4 col-sm-6 col-us-12">
              <a href="src=\'https://www.youtube.com/embed/f488siyecjw?autoplay=1&rel=0\'"><img class="picture6"
                  src="../templates/evo/images/Icon/3.png" alt="alt" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-addinfo">
        <div class="container">
          <a class="main-addinfo-work" href="index.php?page=foto_akpp">Фото техцентров и нашей работы</a>
          <div class="main-addinfo-section">
            В специализированных техцентрах
            <span>"Автоматик Москва"</span> осуществляется диагностика, ремонт
            и обслуживание автоматических коробок переключения передач (АКПП),
            вариаторов (CVT), роботроников (DSG).
            <a class="main-addinfo-section-addresses" href="#top7">Наши подразделения</a>
          </div>
        </div>
      </div>
      <div class="main-block">
        <div class="container">
          <div class="main-block-text"> <a name="why" href="#">Почему мы?</a></div>
          <div class="borderline"></div>
          <div class="main-block-info">
            <span>
              Честный сервис: Вы можете присутствовать на всех этапах
              диагностики и ремонта трансмиссии; все работы согласуются
              заранее; мы сохраняем полную гарантию, при предоставлении
              клиентом своих запчастей
              Срок капитального ремонта АКПП 3 - 5 дней.
            </span>

            <span>
              Стоимость капитального ремонта 22 000 рублей: снятие 5000
              рублей, установка 5000 рублей (цена может быть выше в
              зависимости от сложности например если потребуется вывешивать
              двигатель), разборка, промывка в нефрасовой ванне, дефектовка
              7000 рублей, сборка с подготовкой к установке 5000 рублей + к
              этой стоимости необходимо добавить запчасти по мере износа (у
              нас большой склад запчастей почти под все типы КПП, но также
              можем произвести ремонт с запчастями клиента) Мы работаем для
              Вас без выходных и оперативно решаем все проблемы с АКПП,
              вариаторами, DSG.</span>

            <span>Первичная диагностика проводится в течение 1 часа
              (сканирование, осмотр, тест-драйв с адаптером, при необходимости
              снятие поддона с тестированием соленоидов) Разборка и дефектовка
              АКПП в день обращения.
            </span>

            <span>
              Эвакуатор в пределах МКАД - бесплатно при необходимости
              переборки АКПП Гарантия на АКПП от 6 до 14 месяцев.</span>

            <span>
              Работает круглосуточная техническая поддержка:
              <a href="">+7 (495) 374-88-19</a>;
              <a href="">+7 (499) 653-71-88</a>(круглосуточно);
              <a href="">+7 (915) 150-88-41</a>(МТС; WhatsApp; Viber;
              Telegram) e-mail: <a href="">atmmsk@ya.ru</a> ремонт АКПП480010. </span>
            <span>
              Эвакуация автомобиля на ремонт АКПП осуществляется круглосуточно
              на охраняемую, бесплатную парковку наших Техцентров. <br />
              Вызов эвакуатора: <a href="">+7 (495) 374-88-19</a>.
            </span>

            <span>Мы ремонтируем с гарантией все узлы автоматических трансмиссий
              (ЭБУ, гидроблок, гидротрансформатор, мехатроник) Через 1000км
              пробега после ремонта осуществляется диагностика и замена
              масла.</span>
          </div>

          <div class="main-block-reviews">Отзывы наших клиентов:</div>
          <div class="main-block-media">
            <div class="row">
              <div class="col-4 col-sm-6 col-us-12">
                <a src="src=\'https://www.youtube.com/embed/5c8o2tB03h8?autoplay=1&rel=0\'"
                  href="akpp/automatic-moskva.ru32.jpg"><img class="picture1" src="../templates/evo/images/Icon/11.png"
                    alt="akpp" /></a>
              </div>
              <div class="col-4 col-sm-6 col-us-12">
                <a src="src=\'https://www.youtube.com/embed/csgJv8E4WsQ?autoplay=1&rel=0\'"
                  href="akpp/automatic-moskva.ru5.jpg"><img class="picture2" src="../templates/evo/images/Icon/22.png"
                    alt="akpp" /></a>
              </div>
              <div class="col-4 col-sm-6 col-us-12">
                <a src="src=\'https://www.youtube.com/embed/E8BYuDDjyuI?autoplay=1&rel=0\'"
                  href="akpp/automatic-moskva.ru9.jpg"><img class="picture3" src="../templates/evo/images/Icon/33.png"
                    alt="akpp" /></a>
              </div>
              <div class="col-4 col-sm-6 col-us-12">
                <a src="src=\'https://www.youtube.com/embed/WnvLag7PX-U?autoplay=1&rel=0\'"
                  href="src=\'https://www.youtube.com/embed/t150KtLAPk0?autoplay=1&rel=0\'"><img class="picture4"
                    src="../templates/evo/images/Icon/4.png" alt="alt" /></a>
              </div>
              <div class="col-4 col-sm-6 col-us-12">
                <a src="src=\'https://www.youtube.com/embed/7VOvTdL31Rk?autoplay=1&rel=0\'"
                  href="src=\'https://www.youtube.com/embed/sWsgJlLUwEo?autoplay=1&rel=0\'"><img class="picture5"
                    src="../templates/evo/images/Icon/5.png" alt="alt" /></a>
              </div>
              <div class="col-4 col-sm-6 col-us-12">
                <a src="src=\'https://www.youtube.com/embed/SKJ5Iumvvw8?autoplay=1&rel=0\'"
                  href="src=\'https://www.youtube.com/embed/f488siyecjw?autoplay=1&rel=0\'"><img class="picture6"
                    src="../templates/evo/images/Icon/6.png" alt="alt" /></a>
              </div>
            </div>
          </div>
          <div class="main-block-adress">
            <a name="adress" href="">Адреса Техцентров</a>
          </div>

          <div class="main-location">
            <div class="row">
              <div class="col-xl-5 col-md-12">
                <div class="main-location-map">
                  <a target="_blank" href="index.php?page=maps"><img src="../templates/evo/images/Icon/229.png" alt="" /></a>
                </div>
              </div>
              <div class="col-xl-5 col-md-12">
                <div class="main-location-contact">
                  <div class="main-location-contact-addendum">
                    <a class="services" target="_blank" href="https://uslugi.yandex.ru/profile/Avtomatik-131962"><img
                        src="../templates/evo/images/Icon/yandex-uslugi.png" alt="us" /></a>
                    <div class="main-location-contact-addendum-bottom">
                      <a class="price" href="index.php?page=prais"><img src="../templates/evo/images/Icon/price.png"
                          alt="pr" /></a>
                      <a class="profi" target="_blank" href="https://profi.ru/profile/SmirnovA42/"><img
                          src="../templates/evo/images/Icon/profi.png" alt="prof" /></a>
                    </div>
                  </div>
                  <div class="main-location-contact-num">
                    <div class="main-location-contact-num-title">
                      По всем вопросам звоните:
                    </div>
                    <div class="main-location-contact-num-text">
                      <div class="main-location-contact-num-text-margin">
                        <a href="">+7 (495) 374-88-19;</a>
                        <a href="">+7 (499) 653-71-88 </a>(круглосуточно);
                      </div>
                      <div class="main-location-contact-num-text-margin">
                        <a href="">+7 (915) 150-88-41 </a>(МТС; WhatsApp;
                        Viber; Telegram) ;
                      </div>
                      <div class="main-location-contact-num-text-margin">
                        <a href="">8 (800) 333-71-52</a> (для звонков из
                        регионов)
                      </div>
                    </div>
                  </div>
                  <div class="main-location-contact-display">
                    <a class="whatsapp" href="https://wa.me/79151508841"><img alt="Ремонт вариатора"
                        src="../templates/evo/images/Icon/wh.png" /></a>
                    <div class="main-location-contact-display-bottom">
                      <a class="viber" href="viber://chat?number=79151508841"><img alt="Ремонт ДСГ"
                          src="../templates/evo/images/Icon/vb.png" /></a>
                      <a class="telegram" href="https://t.me/RemontAKPP"><img alt="Ремонт АКПП"
                          src="../templates/evo/images/Icon/tg.png" /></a>
                      <a class="applechat"
                        href="https://bcrw.apple.com/sms:open?service=iMessage&recipient=urn:biz:5e6cadc4-da68-451c-b6e9-f6eaac913b48"><img
                          alt="Ремонт вариаторов" src="../templates/evo/images/Icon/ime.png" /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="borderline"></div>
        </div>
      </div>
      <div class="main-block-2">
        <div class="container">
          <h4 class="list-curs">Наши услуги</h4>
          <!-- <ul class="ull list-menu">
            <li>Проведение комплексной диагностики АКПП, вариатора, DSG стоит 1000 рублей (при ремонте бесплатно)
            <li>Монтаж/демонтаж АКПП от 10000 рублей
            <li>Полная переборка АКПП, вариатора, DSG (монтаж/демонтаж, переборка, промывка акпп в нефрасовой ванне,
              адаптация)
              22000 рублей, стоимость может изменяться: на автомобилях с полным приводом; при необходимости снятия
              подрамника,
              двигателя.
            <li>Ремонт гидротрансформаторов (разрезка, промывка, замена клапанов, сварка, балансировка) около 10000
              рублей
            <li>Замена трансмиссионной жидкости: доливка и выставление уровня 900 рублей; частичная замена масла без
              снятия
              поддона 1500 рублей; частичная со снятием поддона АКПП и промывкой (если есть возможность, то заменой)
              фильтра
              2500 рублей; полная аппаратная замена трансмиссионной жидкости 3500 рублей
            <li>Диагностика и ремонт ЭБУ, проводки, датчиков, соленоидов без снятия агрегата
            <li>В наших техцентрах возможно проведение полного ТО вашего автомобиля и все виды сопутствующих слесарных
              работ. По
              согласованию возможно выполнение кузовного ремонта
            <li> Проведение экспертизы и восстановление АКПП после неквалифицированного ремонта
            <li>Автосервисам предоставляется скидка 5% при постановке на ремонт в наш Техцентр от 30 АКПП в месяц
          </ul> -->

        </div>
      </div>
      <div class="main-block-offer">
        <div class="container">
          <div class="row">
            <div class="col-3 col-md-4 col-sm-6 col-us-12">
              <a href="#" class="main-block-offer-price">
                <img src="../../remont-akpp-1.jpg" alt="alt" />
                <div class="main-block-offer-link" href="index.php?page=region_akpp">Проведение комплексной диагностики
                  АКПП
                </div>
              </a>
            </div>
            <div class="col-3 col-md-4 col-sm-6 col-us-12">
              <a href="#" class="main-block-offer-price">
                <img src="../../remont-akpp-1.jpg" alt="alt" />
                <div class="main-block-offer-link" href="index.php?page=region_akpp">Полная переборка АКПП, вариатора,
                  DSG
                </div>
              </a>
            </div>
            <div class="col-3 col-md-4 col-sm-6 col-us-12">
              <a href="#" class="main-block-offer-price">
                <img src="../../remont-akpp-1.jpg" alt="alt" />
                <div class="main-block-offer-link" href="index.php?page=region_akpp">Ремонт гидротрансформаторов
                </div>
              </a>
            </div>
            <div class="col-3 col-md-4 col-sm-6 col-us-12">
              <a href="#" class="main-block-offer-price">
                <img src="../../remont-akpp-1.jpg" alt="alt" />
                <div class="main-block-offer-link" href="index.php?page=region_akpp">Предложение для регионов
                </div>
              </a>
            </div>
            <div class="col-3 col-md-4 col-sm-6 col-us-12">
              <a href="#" class="main-block-offer-price">
                <img src="../../remont-akpp-1.jpg" alt="alt" />
                <div class="main-block-offer-link" href="index.php?page=region_akpp">Замена трансмиссионной жидкости
                </div>
              </a>
            </div>
            <div class="col-3 col-md-4 col-sm-6 col-us-12">
              <a href="#" class="main-block-offer-price">
                <img src="../../remont-akpp-1.jpg" alt="alt" />
                <div class="main-block-offer-link" href="index.php?page=region_akpp">Предложение для регионов
                </div>
              </a>
            </div>
            <div class="col-3 col-md-4 col-sm-6 col-us-12">
              <a href="#" class="main-block-offer-price">
                <img src="../../remont-akpp-1.jpg" alt="alt" />
                <div class="main-block-offer-link" href="index.php?page=region_akpp"> Проведение экспертизы и
                  восстановление АКПП
                </div>
              </a>
            </div>
            <div class="col-3 col-md-4 col-sm-6 col-us-12">
              <a href="#" class="main-block-offer-price">
                <img src="../../remont-akpp-1.jpg" alt="alt" />
                <div class="main-block-offer-link" href="index.php?page=region_akpp">Замена трансмиссионной жидкости
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="main-block-3">
        <div class="container">
          <h4 class="list">Этапы Ремонта АКПП<i class="fas fa-chevron-down"></i></h4>
          <ul class="ull list-menu">

            <li>Трехэтапная диагностика АКПП (компьютерная, тест-драйв, частичный демонтаж). Проводится в течение 1 - 2
              часов,
              сразу при обращении клиента. При наличии мелких неисправностей проблема решается сразу, в день обращения.
            <li>Демонтаж узла, который необходимо ремонтировать (акпп, гидроблок, гидротрансформатор)
            <li>Разборка и дефектовка акпп (в Вашем присутствии)
            <li>Согласование объема и стоимости ремонта акпп
            <li>Переборка и сборка АКПП
            <li>Установка АКПП
            <li>Тестирование АКПП при повышенных нагрузках
            <li>Диагностика и замена (доливка) трансмиссионной жидкости через 1000 км.

          </ul>
        </div>
      </div>
      <div class="main-block-4">
        <div class="container">
          <h4 class="list">Эксплуатация и раннее выявление неисправностей АКПП<i class="fas fa-chevron-down"></i></h4>
          <ul class="ull list-menu">
            <li>Срок службы АКПП при бережной эксплуатации составляет 150.000 - 300.000 км. Для продления срока службы
              АКПП
              важно своевременное и квалифицированное обслуживание. Мы рекомендуем менять трансмиссионную жидкость в
              АКПП
              каждые 40.000 - 60.000 км. Также необходимо следить за исправной работой системы охлаждения АКПП, т.к.
              основные
              поломки связаны с нарушением работы системы охлаждения в связи с чем перегревается трансмиссионная
              жидкость, что
              приводит к выходу из строя механической части АКПП, а повышение давления приводит к выдавливанию сальника
              (между
              акпп и мотором) или подтеканием масла под прокладкой поддона акпп. Также важно следить за герметичностью
              акпп
              для исключения образования воздушно- и водно-масляных эмульсий, что также приводит к преждевременному
              выходу из
              строя АКПП. <br>
            <li>Мы рекомендуем эксплуатировать акпп в спокойном режиме, особенно на холодную, пока коробка не успела
              прогреться
              (10 - 20 минут). Регулярно проверяйте уровень трансмиссионной жидкости в акпп, и следите чтобы не было
              подтеков.<br>
            <li>Если при эксплуатации автомобиля с АКПП появились толчки, вибрация, посторонний шум, пробуксовка,
              подтеки масла,
              зависание при разгоне мы рекомендуем прекратить эксплуатация автомобиля и вызвать эвакуатор по телефонам
              "> <a
                onclick="ym(23396941,'reachGoal','clicktel'); event.stopPropagation(); window.event.cancelBubble = true; ga('send', 'event', 'request', 'tel');"
                href="tel:+74953748819">+7 (495) 374-88-19</a> для эвакуации автомобиля в один из наших Техцентров.
              Своевременное обращение Гарантированно! снизит затраты на ремонт.<br>
            <li>Специалисты нашего Техцентра имеют сертификаты по ремонту акпп, ведущие специалисты проходили стажировку
              в
              Германии и США.<br>
            <li>При обращении в наш Техцентр после диагностики вы получите заключение о причине и объеме неисправности
              акпп.
              Диагностику акпп мы проводим поэтапно в течение 1 - 2 часов, поэтому рекомендуем записываться заранее,
              чтобы
              провести
              диагностику в момент Вашего обращения. Первым этапом мы проводим компьютерную диагностику (исключаем
              ошибки в
              электронной части АКПП), вторым этапом проводим тест-драйв на "холодную" и на "горячую" с подключенным
              адаптером, на третьем
              этапе мы снимаем поддон акпп и оцениваем состояние трансмиссионной жидкости (на наличие металлической
              стружки и
              эмульсий). Имея эти данные мы принимаем решение о последующем ремонте акпп. <a
                onclick="ym(23396941,'reachGoal','clicktel'); event.stopPropagation(); window.event.cancelBubble = true; ga('send', 'event', 'request', 'tel');"
                href="tel:+74953748819">+7 (495) 374-88-19</a> <br>
            <li>Ремонт АКПП в наших Техцентрах осуществляется поэтапно от "меньшего" к "большему" и Вы можете
              присутствовать в
              ремзоне на всех этапах ремонта.
            <li>После переборки АКПП в нашем Техцентре ресурс АКПП продлевается на 150.000 - 200.000 км, при бережной
              эксплуатации.<br>
            <li>При необходимости мы проводим тюнинг АКПП, что реально продлевает срок ее работы. Мы устанавливаем
              дополнительный радиатор охлаждения, и проводим регулировку давления.<br>
            <li>При ремонте по умолчанию проводятся все профилактические работы (в т.ч. промывка радиатора охлаждения)!
              И после
              ремонта в течение рабочего дня мы тестируем акпп при повышенных нагрузках.
          </ul>
        </div>
      </div>
      <div class="main-block-5">
        <div class="container">
          <h4 class="list">Обратите Внимание<i class="fas fa-chevron-down"></i></h4>
          <ul class="ull list-menu">

            <li>1) В среднем срок ремонта акпп составляет 4 рабочих смены (снятие, разборка, промывка, дефектовка,
              переборка,
              установка, тестирование), если Вам предлагают отремонтировать акпп за один, два дня, то ремонтировать ее
              никто
              не собирается.
            <li>2) Найти хороший "ребилд" в Москве крайне сложно, зачастую под видом восстановленных акпп продают
              "промытые" бу
              коробки.
            <li>3) Установку бу коробок мы не рекомендуем, т.к. при ремонте важно устранить "первопричину"
              неисправности,
              которую можно установить лишь при дефектовке Вашей акпп. Если "первопричину" не устранить то даже новая
              АКПП с
              большой долей вероятности выйдет из строя в течение первого месяца эксплуатации. И надо учитывать, что
              любая б/у
              КПП имеет износ и сколько она ещё будет исправно работать, вам никто не скажет, поэтому рискуя немаленькой
              суммой вы получаете "кота в мешке" с гарантией всего в 2 недели
            <li>4) При любых неисправностях акпп Официальные дилеры (которые в принципе не занимаются ремонтом акпп),
              без
              проведения квалифицированной диагностики, рекомендуют Вам поменять гидроблок со скидкой за 70 - 90
              тыс.руб., что
              в 90% случаев не решает проблемы. При этом гидроблок можно с гарантией отремонтировать в нашем Техцентре.
            <li>5) Мы рекомендуем Вам ремонтировать АКПП только в Техцентрах имеющих сертификаты на проведение ремонтных
              работ,
              и при этом уточнять о возможности Вашего присутствия непосредственно при ремонте, т.к. около 80% всех
              сервисов
              Москвы, которые позиционируют себя как центры по ремонту акпп просто-напросто снимают акпп в своих гаражах
              и
              везут их ремонтировать в специализированные центры и при этом вы переплачиваете деньги "посредникам".
            <li>6) Убедитесь в надежности гарантии и уточните сколько лет существует сервис, чтобы не попасть в руки
              сервиса
              "однодневки", который с легкостью "пообещает" Вам гарантию 2 года без ограничения пробега.
            <li>7) Средняя стоимость капитального ремонта акпп (с заменой ремкомплекта, пакетов передач, тормозной
              ленты, АТФ)
              от 70тыс. руб., если вам предлагают отремонтировать акпп за 40 - 50т.р. то либо у вас исправная акпп и
              ремонтировать ее никто не собирается, либо вам поставят бу коробку.

          </ul>
        </div>
      </div>
      <div class="main-info">
        <div class="container">
          <div class="main-info-contact">
            <div class="row">
              <div class="col-4 col-md-12">
                <div class="main-info-contact-num">
                  <div class="main-info-contact-num-title">
                    Эвакуация на охраняемую, бесплатную парковку Техцентра круглосуточно.
                  </div>
                  <div class="main-info-contact-num-text">
                    <div class="main-info-contact-num-text-margin">
                      <a href="">+7 (495) 374-88-19;</a>
                      <a href="">+7 (499) 653-71-88 </a>(круглосуточно);
                    </div>
                    <div class="main-info-contact-num-text-margin">
                      <a href="">+7 (915) 150-88-41 </a>
                      <br> (МТС; WhatsApp;
                      Viber; Telegram) ;
                    </div>
                    <div class="main-info-contact-num-text-margin">
                      <a href="">8 (800) 333-71-52</a>
                      <br> (для звонков из
                      регионов)
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-12">
                <div class="main-info-contact-display">
                  <a class="whatsapp" href="https://wa.me/79151508841"><img alt="Ремонт вариатора"
                      src="../templates/evo/images/Icon/wh.png" /></a>
                  <div class="main-location-contact-display-bottom">
                    <a class="viber" href="viber://chat?number=79151508841"><img alt="Ремонт ДСГ"
                        src="../templates/evo/images/Icon/vb.png" /></a>
                    <a class="telegram" href="https://t.me/RemontAKPP"><img alt="Ремонт АКПП"
                        src="../templates/evo/images/Icon/tg.png" /></a>
                    <a class="applechat"
                      href="https://bcrw.apple.com/sms:open?service=iMessage&recipient=urn:biz:5e6cadc4-da68-451c-b6e9-f6eaac913b48"><img
                        alt="Ремонт вариаторов" src="../templates/evo/images/Icon/ime.png" /></a>
                  </div>
                </div>
              </div>
              <div class="col-4 col-md-12">
                <div class="main-info-contact-network">
                  <div class="main-info-contact-network-text">
                    Сеть специализированных техцентров по ремонту АКПП, Вариаторов и DSG Автоматик-Москва.
                    Консультация и запись 24/7:</div>
                  <div class="main-info-contact-network-tel">
                    <div class="main-info-contact-network-tel-margin"> <a href="">+7 (495) 374-88-19</a>
                      (многоканальный); <br></div>
                    <div class="main-info-contact-network-tel-margin"> <a href="">8 (800) 333-71-52</a> (для звонков из
                      регионов); <br></div>
                    <div class="main-info-contact-network-tel-margin"> <a href="">+7 (915) 150-88-41</a> (WhatsApp;
                      Viber)</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="borderline"></div>
          </div>
        </div>
      </div>
      <div class="main-adress">
        <div class="container">
          <div class="main-margin">
            <div class="main-adress-title">Восточный АО:</div>
            <div class="main-adress-text">ул. Амурская д.7 (ст.м. Щелковская) <br>
              ул. Дворникова д.7 (ст.м. Лефортово) <br>
              Старообрядческая улица, 28Ас1 (ст.м. Авиамоторная) <br>
              Московская область, г.Люберцы, ул. Смирновская д.30 (ст.м. Жулебино, Котельники) <br>
              Московская область, г.Котельники, Новорязанское шоссе д.5 ТЦ "М5" (ст.м. Котельники)</div>
          </div>
          <div class="main-margin">
            <div class="main-adress-title">Юго-Восточный и Южный АО:</div>
            <div class="main-adress-text">Каширское шоссе д.41 (ст.м. Кантемировская-Каширская)
              ул. Москворечье д.12 с.2 (ст.м. Кантемировская) <br>
              33-й киллометр МКАД вл.10 (Варшавсое шоссе 170Г) (cт.м.Аннино, Лесопарковая) <br>
              Россия, Московская область, Ленинский городской округ, садовое товарищество Берёзка-2, 238 (ст.м.
              Красногвардейская) <br>
              ул. Мусы Джалиля, 5 к1 с3 (ст.м. Борисово, Шипиловская) <br>
              Симферопольское шоссе д.3</div>
          </div>
          <div class="main-margin">
            <div class="main-adress-title">Юго-Западный и Западный АО:</div>
            <div class="main-adress-text">Верейская улица, 29с35 (ст. м. Кунцевская) <br>
              Ул. Василисы Кожиной д.7 с.6 (ст. м. Фили, Славянский бульвар, Парк Победы) <br>
              ул. Дмитрия Ульянова д.20 (ст. м. Академическая) <br>
              г.Одинцово, Коммунальный проезд д.16А</div>
          </div>
          <div class="main-margin">
            <div class="main-adress-title">Северо-Западный и Северный АО:</div>
            <div class="main-adress-text">ул. Добролюбова д.1 с.5 (ст.м. Дмитровская) <br>
              Алтуфьевcкое шоссе д.33 (ст.м. Отрадное) <br>
              ул. 1-я Магистральная д.12 (ст.м.Хорошёвская, Зорге) <br>
              Дмитровское шоссе д.62 к.2 с.8 (ст.м. Верхние лихоборы, Окружная, Селигерская) <br>
              ул. Беломорская д.40 с.18 (ст.м. Речной вокзал) <br>
              2-й Лихачёвский переулок, 12А (ст.м. Лихоборы) <br>
              Ул. Беломорская д.40 (ст.м. Беломорская, Речной вокзал, Ховрино) <br>
              Пятницкое шоссе д.20 (ст. м. Митино) <br>
              г. Химки, Шереметьевское шоссе д.2 (аэропорт Шереметьево)</div>
          </div>
          <div class="main-margin">
            <div class="main-adress-title">Северо-Восточный АО:</div>
            <div class="main-adress-text">Мытищи, Хлебозаводская улица, 6 <br>
              Ярославское шоссе д.26 (ст.м. Свиблово) <br>
              Большая Почтовая д.36 с.2 (ст.м. Электрозаводская)</div>
          </div>
        </div>
      </div>



  </main>
  </div>

  <!-- <footer class="footer">
    <div class="container">
      <div class="footer-logo">
        <a target="_blank" href="https://instagram.com/remont_akpp_automatic"><img src="../templates/evo/images/Icon/IM.png"
            alt="Автосервис по АКПП"></a>
        <a target="_blank" href="https://ok.ru/group/57864030847193"><img src="../templates/evo/images/Icon/ok.png"
            alt="Автосервис по Вариаторам"></a>
        <a target="_blank" href="https://vk.com/remont_akpp_automatic"><img src="../templates/evo/images/Icon/VK.png"
            alt="Автосервис по ДСГ"></a>
        <a target="_blank" href="https://www.facebook.com/remont.akpp.automatic"><img src="../templates/evo/images/Icon/FB.png"
            alt="Автосервис по PowerShift"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCASnzzQrvOhFk1koAfaKQTw"><img
            src="../templates/evo/images/Icon/yt.png" alt="Автосервис по ремонту акпп"></a>
      </div>

      <div class="footer-avtomatic">Автоматик-Москва: ремонт АКПП, Вариаторов, DSG и ДВС 1997 - 2022</div>
    </div>
    </div>
  </footer> -->

  </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="../templates/evo/script.js"></script>
</body>



</html>